<form action="/add-entry" method="post">
  <label for="title">Title:</label><br>
  <input type="text" name="title" ><br>
  <input type="submit" name="submit" value="Submit">
</form>

<h> All Entries: </h>

<ol>
  <% @diary.each do |entry| %>
    <li> Title: <%= entry.title%>
  <% end %>
</ol>