<form action="/add-entry" method="post">
  <label for="title">Add A New Entry Title:</label><br>
  <input type="text" name="title" ><br>
  <input type="submit" name="submit" value="Submit">
</form>

<h> All Entries: </h>

<ol>
  <% @diary.each do |entry| %>
    <li><a href=/entries/<%= entry.id %>><%= entry.title %> </a></li>
  <% end %>
</ol>